@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100px * 16));
    }
  }
  
  .slider {
    display: flex;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 60px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 800px;
  }
  
  .slider::before, .slider::after {
    background: linear-gradient(to right, #0E0E0E 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 50px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(100px * 32);
  }
  
  .slider .slide {
    height: 50px;
    width: 100px;
  }