@import url('./assets/fuentes/satoshi/satoshi.css');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Satoshi-Regular';
} 



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'satoshi', sans-serif;
}

body{
  background-color: #0E0E0E;
}