.sectionWork{
    max-width: 1400px;
    place-content: flex-start center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    gap: 64px;
    height: min-content;
    overflow: visible;
    padding: 128px 0 0;
    position: relative;
    width: 100%;
}
.wrapperTittleWork{
    width: 100%;
}

.tittleWork{
    font-family: 'Satoshi-Light', serif;
}
.flecha45{
    width: 32px;
    height: 32px;
}
.viewAll{
    font-family: 'Satoshi-Regular';
    width: 70px;
}
.framerWork{
    place-content: flex-start center;
    align-items: center;
    place-self: start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: wrap;
    gap: 48px;
    height: min-content;
    padding:0 0;
    position: relative;
    width: 100%;
}