@font-face {
  font-family: "Gambetta-LightItalic";
  src: url("../../assets/fuentes/fonts/Gambetta-LightItalic.woff2")
      format("woff2"),
    url("../../assets/fuentes/fonts/Gambetta-LightItalic.woff") format("woff"),
    url("../../assets/fuentes/fonts/Gambetta-LightItalic.ttf")
      format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

.principalText {
  font-family: "Satoshi-Light", serif;
  font-weight: 800;
}

.secondaryText {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Gambetta-LightItalic", serif;
  font-weight: 500;
}

.parrafo1 {
  font-family: "Satoshi-Regular", serif;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  color: #fff6a9;
  text-align: center;
}
.descriptionText {
  font-family: "Satoshi-Regular", serif;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 300;
  color: #fff6a9;
  text-align: center;
}
.wrapper-misServicios:hover {
  cursor: pointer;
}
